
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Poppins:ital@1&family=Ropa+Sans&display=swap');

@font-face
.logo{
padding: 8px 590px 16px 44px;
color:#777777;
font:
}

.menu{
width: 18px;
height: 12px;
margin-top: -346px;
margin-left: 202px;
}
